body, input, select, textarea {
    font-family: "Helvetica";
    font-size: 12pt;
    background: #ffffff;
}
a:link {
    color: #1A5276;
}
a:visited {
    color: #1A5276;
}

p {
    text-indent: 2rem;
}
li{
    margin-top: 1rem;
}
li.tight-li{
    margin-top: 0.5rem;
}
#sidebar {
    background: #ffffff;
    color: #000000;
    height: 100%;
    position: fixed;
    top: 0;
    margin-left: 8%;
    margin-right: 8%;
    width: 28%;
    left: 0;
    text-align: left;
}


#content {
    background: #ffffff;
    color: #000000;
    margin-left: 36%;
    margin-right: 36%;
    height: 100%;
    top: 0;
}

.btn-link {
    color: #1A5276;
}

.content-section {
    margin-top: 3rem;
}

.list-no-bullet {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
}

.container {
    width:100%;
    border:1px solid #d3d3d3;
}
